#btEscolherCor {
    position: fixed; /* Fixa o botão na tela mesmo ao rolar a página */
    right: 0;        /* Alinha o botão ao lado direito */
    top: 20%;        /* Coloca o botão no meio da tela verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para o botão ao passar o mouse */
btEscolherCor{
    background-color: #45a049;
}